{
    "openapi": "3.0.1",
    "info": {
        "title": "DEV - 3E Proforma API",
        "description": "DEV - 3E Proforma API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.us.nonprod.elite.com/dev/3e/Proforma/v1"
        },
        {
            "url": "https://api.uk.nonprod.elite.com/dev/3e/Proforma/v1"
        },
        {
            "url": "https://api.nonprod.elite.com/dev/3e/Proforma/v1"
        }
    ],
    "paths": {
        "/proforma/{proformaId}/addCost/init": {
            "post": {
                "tags": [
                    "AddCard"
                ],
                "summary": "Generate new cost card for proforma.",
                "description": "Generate new cost card for proforma.",
                "operationId": "post-proforma-proformaid-addcost-init-piid-piid-matterindex-matterindex",
                "parameters": [
                    {
                        "name": "proformaId",
                        "in": "path",
                        "description": "Id of proforma. You can get it from /Proforma/Bucket/{bucketName}.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "piid",
                        "in": "query",
                        "description": "Process item id. You can get it from /Proforma/{id}.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "matterIndex",
                        "in": "query",
                        "description": "Matter index. You can get it from /Proforma/GetProformaMatterInfo/{id}.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "x-3e-instanceid",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-pps-timekeeperindex",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-pps-sessionid",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "88878887-5555-0000-0000-a00000000000"
                        }
                    },
                    {
                        "name": "x-pps-overridenfeatureflags",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CostPopUpFields"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CostPopUpFields"
                                },
                                "example": {
                                    "id": "string",
                                    "timekeeperName": "string",
                                    "timekeeperNumber": "string",
                                    "date": "string",
                                    "narrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presNarrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presAmt": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "comments": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "codes": {
                                        "phase1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "phase2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxJur": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxCode": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        }
                                    },
                                    "cardTypes": [
                                        {
                                            "name": "string",
                                            "value": "string",
                                            "isDefault": true,
                                            "attributes": {}
                                        }
                                    ],
                                    "selectedCardType": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "availableCodes": {},
                                    "timekeepers": [
                                        {
                                            "timekeeperName": "string",
                                            "timekeeperIndex": 0,
                                            "timekeeperNumber": "string"
                                        }
                                    ],
                                    "workRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "workAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isDisplayed": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNonBillable": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNoCharge": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isExclude": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "currency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "refCurrency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "timekeeperIndex": 0,
                                    "workQuantity": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billQuantity": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isDoNotSummarize": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isAnticipated": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "anticipatedPayees": [
                                        {
                                            "name": "string",
                                            "value": "string",
                                            "isDefault": true,
                                            "attributes": {},
                                            "payeeNumber": "string",
                                            "payeeIndex": "string"
                                        }
                                    ],
                                    "anticipatedPayee": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CostPopUpFields"
                                },
                                "example": {
                                    "id": "string",
                                    "timekeeperName": "string",
                                    "timekeeperNumber": "string",
                                    "date": "string",
                                    "narrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presNarrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presAmt": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "comments": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "codes": {
                                        "phase1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "phase2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxJur": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxCode": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        }
                                    },
                                    "cardTypes": [
                                        {
                                            "name": "string",
                                            "value": "string",
                                            "isDefault": true,
                                            "attributes": {}
                                        }
                                    ],
                                    "selectedCardType": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "availableCodes": {},
                                    "timekeepers": [
                                        {
                                            "timekeeperName": "string",
                                            "timekeeperIndex": 0,
                                            "timekeeperNumber": "string"
                                        }
                                    ],
                                    "workRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "workAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isDisplayed": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNonBillable": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNoCharge": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isExclude": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "currency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "refCurrency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "timekeeperIndex": 0,
                                    "workQuantity": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billQuantity": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isDoNotSummarize": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isAnticipated": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "anticipatedPayees": [
                                        {
                                            "name": "string",
                                            "value": "string",
                                            "isDefault": true,
                                            "attributes": {},
                                            "payeeNumber": "string",
                                            "payeeIndex": "string"
                                        }
                                    ],
                                    "anticipatedPayee": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Content",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/proforma/{proformaId}/addFee/init": {
            "post": {
                "tags": [
                    "AddCard"
                ],
                "summary": "Generate new fee card for proforma.",
                "description": "Generate new fee card for proforma.",
                "operationId": "post-proforma-proformaid-addfee-init-piid-piid-matterindex-matterindex",
                "parameters": [
                    {
                        "name": "proformaId",
                        "in": "path",
                        "description": "Id of proforma. You can get it from /Proforma/Bucket/{bucketName}.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "piid",
                        "in": "query",
                        "description": "Process item id. You can get it from /Proforma/{id}.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "matterIndex",
                        "in": "query",
                        "description": "Matter index. You can get it from /Proforma/GetProformaMatterInfo/{id}.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "x-3e-instanceid",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-pps-timekeeperindex",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-pps-sessionid",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "88878887-5555-0000-0000-a00000000000"
                        }
                    },
                    {
                        "name": "x-pps-overridenfeatureflags",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeePopUpFields"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeePopUpFields"
                                },
                                "example": {
                                    "id": "string",
                                    "timekeeperName": "string",
                                    "timekeeperNumber": "string",
                                    "date": "string",
                                    "narrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presNarrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presAmt": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "comments": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "codes": {
                                        "phase1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "phase2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxJur": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxCode": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        }
                                    },
                                    "cardTypes": [
                                        {
                                            "name": "string",
                                            "value": "string",
                                            "isDefault": true,
                                            "attributes": {}
                                        }
                                    ],
                                    "selectedCardType": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "availableCodes": {},
                                    "timekeepers": [
                                        {
                                            "timekeeperName": "string",
                                            "timekeeperIndex": 0,
                                            "timekeeperNumber": "string"
                                        }
                                    ],
                                    "workRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "workAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billRate": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billAmount": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isDisplayed": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNonBillable": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isNoCharge": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isExclude": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "currency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "refCurrency": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "timekeeperIndex": 0,
                                    "workHours": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "billHours": {
                                        "value": 0,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": 0
                                    },
                                    "isFlatFee": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    },
                                    "isAnticipated": {
                                        "value": true,
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": true
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeePopUpFields"
                                },
                                "example": {
                                    "id": "string",
                                    "timekeeperName": "string",
                                    "timekeeperNumber": "string",
                                    "date": "string",
                                    "narrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presNarrative": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "presAmt": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "comments": {
                                        "value": "string",
                                        "isEditable": true,
                                        "isRequired": true,
                                        "aliasValue": "string",
                                        "description": "string",
                                        "displayValue": "string",
                                        "audit": {
                                            "newValue": "string",
                                            "previousValue": "string",
                                            "timeStamp": "string",
                                            "userName": "string"
                                        },
                                        "originalValue": "string"
                                    },
                                    "codes": {
                                        "phase1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "phase2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "task2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity1": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "activity2": {
                                            "value": "string",
                                            "isEditable": true,
                                            "isRequired": true,
                                            "aliasValue": "string",
                                            "description": "string",
                                            "displayValue": "string",
                                            "audit": {
                                                "newValue": "string",
                                                "previousValue": "string",
                                                "timeStamp": "string",
                                                "userName": "string"
                                            }
                                        },
                                        "taxJur": {
                                            "value": "string",
                                            "isEditable": true,
[...]
