{
    "openapi": "3.0.1",
    "info": {
        "title": "DEV - 3E Public Mock API",
        "description": "DEV - 3E Public Mock API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.us.nonprod.elite.com/dev/3e/mock/v1"
        },
        {
            "url": "https://api.uk.nonprod.elite.com/dev/3e/mock/v1"
        },
        {
            "url": "https://api.nonprod.elite.com/dev/3e/mock/v1"
        }
    ],
    "paths": {
        "/integration/proforma/generate": {
            "post": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_StartProformaGeneration",
                "description": "IntegrationProforma_StartProformaGeneration",
                "operationId": "IntegrationProforma_StartProformaGeneration",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaGenerationRequest> <profGenRunId>string</profGenRunId> </E3E.API.Proforma.Models.ProformaGenerationRequest>"
                        },
                        "text/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaGenerationRequest> <profGenRunId>string</profGenRunId> </E3E.API.Proforma.Models.ProformaGenerationRequest>"
                        },
                        "application/*+xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGenerationRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaGenerationRequest> <profGenRunId>string</profGenRunId> </E3E.API.Proforma.Models.ProformaGenerationRequest>"
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/integration/proforma/lock-unlock": {
            "post": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_LockProforma",
                "description": "IntegrationProforma_LockProforma",
                "operationId": "IntegrationProforma_LockProforma",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaLockRequest> <id>string</id> <isLock>true</isLock> </E3E.API.Proforma.Models.ProformaLockRequest>"
                        },
                        "text/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaLockRequest> <id>string</id> <isLock>true</isLock> </E3E.API.Proforma.Models.ProformaLockRequest>"
                        },
                        "application/*+xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaLockRequest> <id>string</id> <isLock>true</isLock> </E3E.API.Proforma.Models.ProformaLockRequest>"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/integration/proforma/update": {
            "patch": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_UpdateProforma",
                "description": "IntegrationProforma_UpdateProforma",
                "operationId": "IntegrationProforma_UpdateProforma",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/integration/proforma/transfer": {
            "post": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_TransferCards",
                "description": "IntegrationProforma_TransferCards",
                "operationId": "IntegrationProforma_TransferCards",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaCardTransferRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> <targetMatter>0</targetMatter> <targetProforma>0</targetProforma> <isRecalculateRate>False</isRecalculateRate> </E3E.API.Proforma.Models.ProformaCardTransferRequest>"
                        },
                        "text/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaCardTransferRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> <targetMatter>0</targetMatter> <targetProforma>0</targetProforma> <isRecalculateRate>False</isRecalculateRate> </E3E.API.Proforma.Models.ProformaCardTransferRequest>"
                        },
                        "application/*+xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaCardTransferRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaCardTransferRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> <targetMatter>0</targetMatter> <targetProforma>0</targetProforma> <isRecalculateRate>False</isRecalculateRate> </E3E.API.Proforma.Models.ProformaCardTransferRequest>"
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/integration/proforma/get": {
            "get": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_GetProforma",
                "description": "IntegrationProforma_GetProforma",
                "operationId": "IntegrationProforma_GetProforma",
                "parameters": [
                    {
                        "name": "ProformaId",
                        "in": "query",
                        "description": "Format - uuid.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGetResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaGetResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/integration/proforma/exclude": {
            "post": {
                "tags": [
                    "IntegrationProforma"
                ],
                "summary": "IntegrationProforma_ExcludeProformaCard",
                "description": "IntegrationProforma_ExcludeProformaCard",
                "operationId": "IntegrationProforma_ExcludeProformaCard",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaExcludeCardRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> </E3E.API.Proforma.Models.ProformaExcludeCardRequest>"
                        },
                        "text/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaExcludeCardRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> </E3E.API.Proforma.Models.ProformaExcludeCardRequest>"
                        },
                        "application/*+xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaExcludeCardRequest"
                            },
                            "example": "<E3E.API.Proforma.Models.ProformaExcludeCardRequest> <timecards>string</timecards> <costcards>string</costcards> <chargecards>string</chargecards> <proformaId>string</proformaId> <reasonType>string</reasonType> <authTimekeeper>0</authTimekeeper> </E3E.API.Proforma.Models.ProformaExcludeCardRequest>"
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Proforma.Models.ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
[...]
