{
    "openapi": "3.0.1",
    "info": {
        "title": "DEV - 3E REST Premium Proforma APIs",
        "description": "",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.us.nonprod.elite.com/dev/3e/premiumproforma/v1"
        },
        {
            "url": "https://api.uk.nonprod.elite.com/dev/3e/premiumproforma/v1"
        },
        {
            "url": "https://api.nonprod.elite.com/dev/3e/premiumproforma/v1"
        }
    ],
    "paths": {
        "/diagnostics/di": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "/diagnostics/di - GET",
                "operationId": "get-diagnostics-di",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/diagnostics/config": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "/diagnostics/config - GET",
                "operationId": "get-diagnostics-config",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secrets",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/diagnostics/config-sources": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "/diagnostics/config-sources - GET",
                "operationId": "get-diagnostics-config-sources",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/diagnostics/hosted-services": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "/diagnostics/hosted-services - GET",
                "operationId": "get-diagnostics-hosted-services",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/diagnostics/options": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "/diagnostics/options?type={type} - GET",
                "operationId": "get-diagnostics-options-type-type",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secrets",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "/health - GET",
                "operationId": "get-health",
                "parameters": [
                    {
                        "name": "check",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dvt",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/health/dvt": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "/health/dvt - GET",
                "operationId": "get-health-dvt",
                "parameters": [
                    {
                        "name": "check",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/generate": {
            "post": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/generate - POST",
                "operationId": "post-api-proforma-generate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaGenerationRequest"
                            },
                            "example": {
                                "profGenRunId": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartProformaGenerationResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/lock-unlock": {
            "post": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/lock-unlock - POST",
                "operationId": "post-api-proforma-lock-unlock",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaLockRequest"
                            },
                            "example": {
                                "id": "string",
                                "isLock": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaLockResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string",
                                    "isLocked": true
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/update": {
            "patch": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/update - PATCH",
                "operationId": "patch-api-proforma-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "EditHrs": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "editQnt": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workCostType": "string",
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "EditHrs": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "editQnt": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workCostType": "string",
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaUpdateRequest"
                            },
                            "example": {
                                "id": "string",
                                "authTimekeeper": 0,
                                "billingContact": 0,
                                "billTemplate": "string",
                                "billTkpr": 0,
                                "billingOffice": "string",
                                "chargeStart": "string",
                                "chargeEnd": "string",
                                "chrgReasonType": "string",
                                "collTkpr": 0,
                                "contactInfo": "string",
                                "costStart": "string",
                                "costEnd": "string",
                                "costReasonType": "string",
                                "coverLetterNarrative": "string",
                                "dueDays": 0,
                                "fromTaxArea": "string",
                                "internalComments": "string",
                                "invDate": "string",
                                "invNarrative": "string",
                                "language": 0,
                                "mattOverDescription": "string",
                                "origTaxInvNumber": "string",
                                "prevInvMaster": 0,
                                "profDate": "string",
                                "profStatus": "string",
                                "profStatusCap": "string",
                                "reasonType": "string",
                                "site": 0,
                                "spvTkpr": 0,
                                "taxDate": "string",
                                "taxReportID1": "string",
                                "taxReportID2": "string",
                                "toTaxArea": "string",
                                "timeStart": "string",
                                "timeEnd": "string",
                                "vatRegistration": "string",
                                "profDetailTime": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "EditHrs": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailCost": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string",
                                        "refAmt": 0,
                                        "refCurrency": "string",
                                        "refRate": 0,
                                        "stdAmt": 0,
                                        "stdCurrency": "string",
                                        "stdRate": 0,
                                        "editQnt": 0,
                                        "editRate": 0,
                                        "isDisplay": 0,
                                        "isExcluded": 0,
                                        "isSelected": 0,
                                        "presAmt": 0,
                                        "workCostType": "string",
                                        "workDate": "string"
                                    }
                                ],
                                "profDetailChrg": [
                                    {
                                        "id": "string",
                                        "authTimekeeper": 0,
                                        "editAmt": 0,
                                        "internalComments": "string",
                                        "isAnticipated": true,
                                        "isNB": true,
                                        "isNoCharge": true,
                                        "office": "string",
                                        "reasonType": "string",
                                        "sortString": "string",
                                        "spvTimekeeper": 0,
                                        "timePracticeArea": "string",
                                        "toleranceAmt": 0,
                                        "tolerancePct": 0,
                                        "workActivity": "string",
                                        "workActivity2": "string",
                                        "workAmt": 0,
                                        "workCostEntryUnit": 0,
                                        "workCostEntryUnitType": "string",
                                        "workLanguage": 0,
                                        "workNarrative": "string",
                                        "workPhase": "string",
                                        "workPhase2": "string",
                                        "workStdAmt": 0,
                                        "workTask": "string",
                                        "workTask2": "string",
                                        "workTaxCode": "string",
                                        "workTaxJuris": "string",
                                        "workTimekeeper": 0,
                                        "workTimeType": "string"
                                    }
                                ],
                                "profAdjust": [
                                    {
                                        "id": "string",
                                        "amount": 0,
                                        "adjMethodList": "string",
                                        "startDate": "string",
                                        "endDate": "string",
                                        "timekeeper": 0,
                                        "percentage": 0,
                                        "matter": 0,
                                        "description": "string",
                                        "profAdjustType": "string",
                                        "billAmount": 0,
                                        "taxCode": "string",
                                        "isAdjustWithFilters": true,
                                        "isIncludeOtherAdjustments": true,
                                        "isIncludeFlatFeeCharges": true,
                                        "ordinal": 0,
                                        "timeCardFilter": "string",
                                        "costCardFilter": "string",
                                        "chrgCardFilter": "string"
                                    }
                                ],
                                "profPresParagraph": [
                                    {
                                        "id": "string",
                                        "presDate": "string",
                                        "currency": "string",
                                        "presAmount": 0,
                                        "presHours": 0,
                                        "narrative": "string",
                                        "sortString": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/transfer": {
            "post": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/transfer - POST",
                "operationId": "post-api-proforma-transfer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCardTransferRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "reasonType": "string",
                                "authTimekeeper": 0,
                                "targetMatter": 0,
                                "targetProforma": 0,
                                "isRecalculateRate": false
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/combine": {
            "post": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/combine - POST",
                "operationId": "post-api-proforma-combine",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCombineCardsRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "presDate": "string",
                                "timekeeper": 0,
                                "matter": 0,
                                "timeType": "string",
                                "costType": "string",
                                "chrgType": "string",
                                "taxCode": "string",
                                "taxJurisdiction": "string",
                                "presQty": 0,
                                "presRate": 0,
                                "combineType": "string",
                                "narrative": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCombineCardsRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "presDate": "string",
                                "timekeeper": 0,
                                "matter": 0,
                                "timeType": "string",
                                "costType": "string",
                                "chrgType": "string",
                                "taxCode": "string",
                                "taxJurisdiction": "string",
                                "presQty": 0,
                                "presRate": 0,
                                "combineType": "string",
                                "narrative": "string"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProformaCombineCardsRequest"
                            },
                            "example": {
                                "timecards": [
                                    "string"
                                ],
                                "costcards": [
                                    "string"
                                ],
                                "chargecards": [
                                    "string"
                                ],
                                "proformaId": "string",
                                "presDate": "string",
                                "timekeeper": 0,
                                "matter": 0,
                                "timeType": "string",
                                "costType": "string",
                                "chrgType": "string",
                                "taxCode": "string",
                                "taxJurisdiction": "string",
                                "presQty": 0,
                                "presRate": 0,
                                "combineType": "string",
                                "narrative": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProformaUpdateResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/proforma/divide": {
            "post": {
                "tags": [
                    "Proforma"
                ],
                "summary": "/api/proforma/divide - POST",
[...]
