{
    "openapi": "3.0.1",
    "info": {
        "title": "DEV - 3E API",
        "description": "The 3E API provides low level access to the 3E Financial System application logic layer for the decoupled 3E User Interface...<a href=\"/doc/3e-rest-api/authentication\" target=\"_blank\">Read More</a>",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.us.nonprod.elite.com/dev/3e/v1"
        },
        {
            "url": "https://api.uk.nonprod.elite.com/dev/3e/v1"
        },
        {
            "url": "https://api.nonprod.elite.com/dev/3e/v1"
        }
    ],
    "paths": {
        "/attachment/v2": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Gets Attachments and returns a AttachmentGetResponse.",
                "description": "Gets Attachments and returns a AttachmentGetResponse.",
                "operationId": "Attachment_GetAttachments",
                "parameters": [
                    {
                        "name": "ParentItemIds",
                        "in": "query",
                        "description": "Gets or sets Ids of parent data objects.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "Archetype",
                        "in": "query",
                        "description": "Gets or sets an archetype. Required for IC.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentGetResponse"
                                },
                                "example": {
                                    "attachments": {},
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentGetResponse"
                                },
                                "example": {
                                    "attachments": {},
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Delete the attachments",
                "description": "Delete the attachments",
                "operationId": "Attachment_DeleteAttachments",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": {
                                "attachmentIds": [
                                    "string"
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": {
                                "attachmentIds": [
                                    "string"
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": {
                                "attachmentIds": [
                                    "string"
                                ]
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": "<E3E.API.Attachment.Models.AttachmentDeleteRequest> <attachmentIds>string</attachmentIds> </E3E.API.Attachment.Models.AttachmentDeleteRequest>"
                        },
                        "text/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": "<E3E.API.Attachment.Models.AttachmentDeleteRequest> <attachmentIds>string</attachmentIds> </E3E.API.Attachment.Models.AttachmentDeleteRequest>"
                        },
                        "application/*+xml": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteRequest"
                            },
                            "example": "<E3E.API.Attachment.Models.AttachmentDeleteRequest> <attachmentIds>string</attachmentIds> </E3E.API.Attachment.Models.AttachmentDeleteRequest>"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDeleteResponse"
                                },
                                "example": {
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Updates multiple attachments.",
                "description": "Updates multiple attachments.",
                "operationId": "Attachment_PatchAttachment",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The request details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.PatchAttachmentsRequest"
                            },
                            "example": {
                                "items": [
                                    {
                                        "id": "string",
                                        "description": "string",
                                        "reportPrint": true,
                                        "fileName": "string"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.PatchAttachmentsRequest"
                            },
                            "example": {
                                "items": [
                                    {
                                        "id": "string",
                                        "description": "string",
                                        "reportPrint": true,
                                        "fileName": "string"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Attachment.Models.PatchAttachmentsRequest"
                            },
                            "example": {
                                "items": [
                                    {
                                        "id": "string",
                                        "description": "string",
                                        "reportPrint": true,
                                        "fileName": "string"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            }
        },
        "/attachment/file": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Downloads a File attachment.",
                "description": "Downloads a File attachment.",
                "operationId": "Attachment_DownloadFileAttachment",
                "parameters": [
                    {
                        "name": "AttachmentId",
                        "in": "query",
                        "description": "Gets or sets the attachment Id.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDownloadRequest"
                                },
                                "example": {
                                    "attachmentId": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDownloadRequest"
                                },
                                "example": {
                                    "attachmentId": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Uploads File Attachment.",
                "description": "Uploads File Attachment.",
                "operationId": "Attachment_UploadFileAttachment",
                "parameters": [
                    {
                        "name": "ParentItemId",
                        "in": "query",
                        "description": "Gets or sets a parent item id.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "Archetype",
                        "in": "query",
                        "description": "Gets or sets an archetype.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SubFolder",
                        "in": "query",
                        "description": "Gets or sets a subfolder.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "description": "Gets or sets a description.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ReportPrint",
                        "in": "query",
                        "description": "Gets or sets a value indicating whether this attachment should be printed in reports.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "Process",
                        "in": "query",
                        "description": "Gets or sets a Process.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentCreateResponse"
                                },
                                "example": {
                                    "attachment": {
                                        "attachmentID": "string",
                                        "attachmentType": "string",
                                        "dmsDocumentID": "string",
                                        "dmsDraft": "string",
                                        "fileName": "string",
                                        "description": "string",
                                        "syncID": "string",
                                        "reportPrint": true,
                                        "extendedAttributes": "string",
                                        "subFolder": "string"
                                    },
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentCreateResponse"
                                },
                                "example": {
                                    "attachment": {
                                        "attachmentID": "string",
                                        "attachmentType": "string",
                                        "dmsDocumentID": "string",
                                        "dmsDraft": "string",
                                        "fileName": "string",
                                        "description": "string",
                                        "syncID": "string",
                                        "reportPrint": true,
                                        "extendedAttributes": "string",
                                        "subFolder": "string"
                                    },
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            }
        },
        "/attachment/dms": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Downloads a DMS attachment.",
                "description": "Downloads a DMS attachment.",
                "operationId": "Attachment_DownloadDMSAttachment",
                "parameters": [
                    {
                        "name": "AttachmentId",
                        "in": "query",
                        "description": "Gets or sets the attachment Id.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDownloadRequest"
                                },
                                "example": {
                                    "attachmentId": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentDownloadRequest"
                                },
                                "example": {
                                    "attachmentId": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Uploads DMS Attachment.",
                "description": "Uploads DMS Attachment.",
                "operationId": "Attachment_UploadDMSAttachment",
                "parameters": [
                    {
                        "name": "Library",
                        "in": "query",
                        "description": "Gets or sets DMS library.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DocumentClass",
                        "in": "query",
                        "description": "Gets or sets DMS document class.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DocumentType",
                        "in": "query",
                        "description": "Gets or sets DMS document type.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DMSFolder",
                        "in": "query",
                        "description": "Gets or sets a folder.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ParentItemId",
                        "in": "query",
                        "description": "Gets or sets a parent item id.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "Archetype",
                        "in": "query",
                        "description": "Gets or sets an archetype.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SyncMapID",
                        "in": "query",
                        "description": "Gets or sets DMS SyncMapID.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "SubFolder",
                        "in": "query",
                        "description": "Gets or sets a subfolder.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "description": "Gets or sets a description.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ReportPrint",
                        "in": "query",
                        "description": "Gets or sets a value indicating whether this attachment should be printed in reports.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "Process",
                        "in": "query",
                        "description": "Gets or sets a Process.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentCreateResponse"
                                },
                                "example": {
                                    "attachment": {
                                        "attachmentID": "string",
                                        "attachmentType": "string",
                                        "dmsDocumentID": "string",
                                        "dmsDraft": "string",
                                        "fileName": "string",
                                        "description": "string",
                                        "syncID": "string",
                                        "reportPrint": true,
                                        "extendedAttributes": "string",
                                        "subFolder": "string"
                                    },
                                    "success": true,
                                    "message": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.AttachmentCreateResponse"
                                },
                                "example": {
                                    "attachment": {
                                        "attachmentID": "string",
                                        "attachmentType": "string",
                                        "dmsDocumentID": "string",
                                        "dmsDraft": "string",
                                        "fileName": "string",
                                        "description": "string",
                                        "syncID": "string",
                                        "reportPrint": true,
                                        "extendedAttributes": "string",
                                        "subFolder": "string"
                                    },
                                    "success": true,
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            }
        },
        "/attachment/dms/parameters": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Collects DMS parameters and returns DMSParametersGetResponse.",
                "description": "Collects DMS parameters and returns DMSParametersGetResponse.",
                "operationId": "Attachment_GetDMSParameters",
                "parameters": [
                    {
                        "name": "Archetype",
                        "in": "query",
                        "description": "Gets or sets the data object archetype.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.DMSParametersGetResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Attachment.Models.DMSParametersGetResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            }
        },
        "/client": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Gets Clients and returns a ClientGetResponse.",
                "description": "Gets Clients and returns a ClientGetResponse.",
                "operationId": "Client_GetClients",
                "parameters": [
                    {
                        "name": "ClientId",
                        "in": "query",
                        "description": "Gets or sets the ClientIds.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    },
                    {
                        "name": "ClientIndex",
                        "in": "query",
                        "description": "Gets or sets the ClientIndex.",
                        "schema": {
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "Number",
                        "in": "query",
                        "description": "Gets or sets the Number (Client Alias).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AdvancedFilter.ChildObjectsToInclude",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "AdvancedFilter.AttributesToInclude",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "AdvancedFilter.FilterXOQL",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AdvancedFilter.Filter.Predicates",
                        "in": "query",
                        "description": "Gets or Sets predicates.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/E3E.API.Query.SJQL.SJPredicate"
                            }
                        }
                    },
                    {
                        "name": "AdvancedFilter.Filter.Operator",
                        "in": "query",
                        "description": "Gets or Sets the logical operator between the group of E3E.API.Query.SJQL.SJPredicateGroup.Predicates and the E3E.API.Query.SJQL.SJPredicateGroup.Groups.",
                        "schema": {
                            "$ref": "#/components/schemas/E3E.API.Query.SJQL.SJLogicalOperator"
                        }
                    },
                    {
                        "name": "AdvancedFilter.Filter.Groups",
                        "in": "query",
                        "description": "Gets or Sets group of predicates based on a logical operator.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/E3E.API.Query.SJQL.SJPredicateGroup"
                            }
                        }
                    },
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Client.Models.ClientGetResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Client.Models.ClientGetResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "NoContent - The request has not produced any outputs, see messages in response header for details."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed to perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - An unhandled error occurred, check server logs for the exact error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "Creates a new Client.",
                "description": "Creates a new Client.",
                "operationId": "Client_CreateClient",
                "parameters": [
                    {
                        "name": "3eInstanceId",
                        "in": "query",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-3E-SessionId",
                        "in": "header",
                        "description": "The user's session identifier",
                        "schema": {
                            "type": "string",
                            "default": "ad5efeef-4512-46ea-ad24-ec1cf5f1ebd5"
                        }
                    },
                    {
                        "name": "X-3E-UserId",
                        "in": "header",
                        "description": "The unique user identifier - this is only allowed in conjunction with the Integration scope for applications like EIF.  A forbidden response will be returned if this scope is not present",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language code of the request (en-GB, en-US, fr-FR). Defaults to the user's 3E language assignment which can be retrieved by the session endpoint",
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    },
                    {
                        "name": "X-3E-InstanceId",
                        "in": "header",
                        "description": "Specifies the target 3E instance ID.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The request details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Client.Models.ClientCreateRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Client.Models.ClientCreateRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/E3E.API.Client.Models.ClientCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Client.Models.ClientCreateResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/E3E.API.Client.Models.ClientCreateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Has not been authorized by Windows or Azure Active directory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - The authenticated user or application is not allowed perform the operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
[...]
